@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
}

#main-annotation {
    background-color: rgb(177, 135, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#title-main {
    width: 70rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#welcome {
    text-transform: uppercase;
    font-size: 250%;
}

#create-main {
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#create-annotation {
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    filter: drop-shadow(-1px -2px black) drop-shadow(-1px 2px black) drop-shadow(4px 4px black); 
}

#create-annotation #bar-note {
    flex: 20%;
    display: flex;
    flex-direction: row;
    flex-flow: row;
}

#bar-note #bar-rectangle {
    background-color: rgb(255, 229, 80);
    flex: 80%;
    border-top-left-radius: 10px;
}

#bar-note #bar-triangle {
    flex: 20%;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

#bar-note #bar-triangle > div {
    border-top: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 22px solid rgb(255, 46, 46);
    border-left: 24px solid rgb(255, 46, 46);
}

#create-annotation #content-note {
    background-color: rgb(255, 229, 80);
    flex: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#content-note > button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 8rem;
    height: 6rem;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(94, 233, 129);
}

#content-note > button > span {
    font-size: 1.5rem;
    text-transform: uppercase;
}

#list-annotations {
    background-color: rgb(113, 113, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100vw;
    /* height: 100vh; */
}

.title-list {
    background-color: rgb(224, 101, 101);
    width: 70vw;
    height: 20vh;
    display: flex;
    align-items: end;
    margin-top: 2rem;
}

.title-list h1 {
    padding-bottom: 10px;
}

.annotations {
    background-color: aqua;
    width: 70vw;
    /* height: 70vh; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 4rem;
}

.note {
    width: 200px;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

@media (max-width: 768px) {
    .note {
        width: 200px;
        height: 100px;
    }
}

@media (max-width: 480px) {
    .note {
        width: 100%;
        height: 50px;
    }
}
