@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Teko', sans-serif;
}

button {
    width: 10rem;
    height: 2rem;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid black;
}

#btn-login, #btn-register {
    background-color: rgb(255, 221, 30);
    box-shadow: 3px 3px;
}

#title-login {
    width: auto;
}

#title-login h1 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}

#card-user {
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 35svh;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
}

#account-access {
    background-color: rgb(93, 144, 240);
    height: 20rem;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border: 2px solid black;
    box-shadow: 3px 3px;
}

#account-access.login {
    background-color: rgb(93, 144, 240);
}

#account-access.register {
    background-color: rgb(94, 233, 129);
}

#tab-access {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 0%;
}

#tab-access .active {
    position: absolute;
    height: 2.1rem;
}

#tab-access button {
    margin-bottom: 0%;
    margin-right: 0.5rem;
    border-bottom: 0cap;
    height: 2rem;
    cursor: pointer;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 22px;
}

#tab-login {
    background-color: rgb(93, 144, 240);
}

#tab-register {
    margin-left: 10.2rem;
    background-color: rgb(94, 233, 129);
}

.form-visibility-true {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-form, #register-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 90%;
}

#login-form > span, #register-form > span {
    width: 15%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 50,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}

#login-form fieldset:nth-child(2), #login-form fieldset:nth-child(2), 
#register-form fieldset:nth-child(2), #register-form fieldset:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px 10px 10px 10px;
    border: none;
    width: 90%;
    height: 70%;
}

#login-form, #register-form {
    font-size: 20px;
}

#login-form .field, #register-form .field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.field input {
    height: 2rem;
    border-radius: 5px;
    border: 2px solid black;
}

.form-visibility-false {
    display: none;
}

@media (max-width: 768px) {
    #card-user {
        margin-top: 45svh;
    }
}

@media (max-width: 480px) {
    #card-user {
        margin-top: 45svh;
    }
    
    #account-access {
        width: 330px;
    }
}
